<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="TestNG Execution suite">
  <test name="Regression test">
    <classes>
      <class name="day11.TestNgTesting"/>
      <class name="day12.TestNgTesting"></class>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->